@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
.imagem{
    display: flex;
    justify-content: center;
    margin: 50px 0 100px;
}
#imagem-lampada{
    width: 400px;
}
.botoes{
    display: flex;
    justify-content: center;
    gap: 25px;
}
.botao-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    color: rgb(255, 102, 0);
    background-color: rgb(206, 23, 10);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 1px 6px #545b6dab;
}
.botao-menu:nth-child(1):hover{
    background-color: #ffffff;
}
.botao-menu:nth-child(2):hover{
    background-color: #ffffff;
    
}